/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes ping-once {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-ping-once::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 9999px;
  background-color: inherit;
  animation: ping-once 1.2s ease-out infinite;
  z-index: 0;
}
